nav.navbar.bootsnav.no-background.white ul.nav > li > a {
  color: white;
  font-weight: 100;
}
nav.navbar.bootsnav.no-background.white ul.nav > li > a:hover {
  background: #0a63b2;
}
nav.navbar.bootsnav {
  background: rgba(0, 0, 0, 0.4);
}
nav.navbar.bootsnav ul.nav > li > a {
  color: white;
  font-weight: 100;
}
nav.navbar.bootsnav {
  border-bottom: solid 2px rgba(0, 0, 0, 0.2);
}
